@import '/src/index.scss';

select {
    border-color: $bgColor2 !important;
    font-size: 12px !important;
    font-weight: 600;

    &:focus,
    &[data-focus] {
        box-shadow: none !important;
    }

    &:hover {
        cursor: pointer;
    }

    & option {
        color: $grey !important;
    }
}
